<p>
  <a (click)="reload()">Reload Friends</a>
</p>
<ul *ngIf="friends.length">
  <li *ngFor="let friend of friends">
    {{ friend.name }} - <a (click)="remove( friend )">Remove</a>
  </li>
</ul>
<input type="text" [value]="form.name" (input)="form.name = $event.target.value" (keydown.Enter)="addFriend()" />
<button type="button" (click)="addFriend()">Add Friend</button>